@charset "utf-8";

.content {
  overflow: hidden;
  background: #f8f8f8;
  padding-bottom: 226px;
}

.appli-detail .career-title {
  padding: 20px 22px;
  background: #3e3e3e;
  color: #fff;
}
.appli-detail .career-title h3 {
  color: #fff !important;
}
.appli-detail .career-title p {
  margin-top: 8px;
  font-size: 16px;
}
.appli-detail .profile {
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: 35px;
  padding: 29px 34px;
  border: 1px solid #dfdfdf;
  background: #f8f8f8;
}
.appli-detail .profile .photo {
  float: left;
  border: 1px solid #ddd;
}
.appli-detail .profile .profile-info {
  float: left;
  margin-left: 26px;
  padding-top: 14px;
}
.profile .profile-info strong {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #353535;
}
.profile .profile-info > ul {
  overflow: hidden;
  width: 680px;
  margin-top: 17px;
}
.profile .profile-info > ul > li {
  float: left;
  width: 50%;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  color: #707070;
}
.appli-detail .career-info {
  margin-top: 15px;
}
.career-info h4::before {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background: url(../images/ico-circle.png) no-repeat 0 0;
}
.career-info h4 {
  padding: 20px 0 20px 36px;
  background: #f8f8f8;
  font-size: 20px;
  font-weight: 700;
  color: #353535;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.career-info > ul > li {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.career-info > ul > li .left-info {
  overflow: hidden;
  display: table-cell;
  width: 1014px;
  padding: 40px 56px 37px 36px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.left-info .info-detail {
  display: inline-block;
}
.left-info .info-detail > ul {
  overflow: hidden;
}
.left-info .info-detail > ul > li {
  float: left;
  padding-left: 7px;
  margin-left: 7px;
  border-left: 1px solid #bfbfbf;
  font-weight: 700;
  color: #353535;
}
.left-info .info-detail .score-txt {
  margin-top: 12px;
  font-weight: 700;
  color: #777;
}
.left-info .info-detail > ul > li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
.left-info .company-detail {
  float: right;
  vertical-align: top;
  text-align: center;
}
.left-info .company-detail .title {
  font-weight: 700;
  color: #353535;
}
.left-info .company-detail .date {
  margin-top: 12px;
  font-weight: 700;
  color: #777;
}
.career-info > ul > li .right-info {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

