.builder-wrap h2 {text-align: center;margin-top:75px;margin-bottom:60px !important;}


.tbl {width:100%;margin-top:30px;}
.tbl th {background:#f8f8f8;text-align: center;}
.tbl th, .tbl td {padding:10px; border:1px solid #ddd;}
.tbl .center {text-align: center;}
.tbl .right {text-align: right;}

.tbl.type1 th{width:150px;}

.tbl.type2 th:first-child {width:85px;}

input[type="radio"] {
    vertical-align: top;
    width:11px;
    height: 11px;
    color:#fff;
    display: inline-block;
    padding:0;
        border: 1px solid #000;
}
input[type="radio"]:checked {
    background:#000;
}
.builder-wrap .tbl tr td {
    position: relative;
}
.builder-wrap input[type="text"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    color: #707070;
}
.builder-wrap .ipt-middle {
    position: static !important;
    width: 90px !important;
}
.builder-wrap .ipt-small {
    position: static !important;
    width: 45px !important;
}
.builder-wrap .btn-wrap {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}
.builder-wrap .btn-wrap a {
    float: left;
    height: 43px;
    line-height: 43px;
    color: #fff;
    background: #202020;
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
    padding: 0 15px;
}
.builder-wrap .btn-wrap a:first-child {
    margin-left: 0;
}
.builder-wrap .select-wrap {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.builder-wrap .select-wrap span {
    float: left;
    height: 43px;
    line-height: 43px;
    font-weight: 700;
}
.builder-wrap .select-wrap select {
    float: left;
    width: 120px;
    margin-left: 8px;
}
