@charset "utf-8";

.tbl-wrap {
  margin-top: 30px;
}
.tbl-wrap .detail-tbl {
  width: 100%;
}
.tbl-wrap .detail-tbl tr th,
.tbl-wrap .detail-tbl tr td {
  padding: 10px;
  border: 1px solid #ddd;
  line-height: 1.2;
}
.tbl-wrap .detail-tbl tr th {
  background: #f8f8f8;
  text-align: center;
}
input[type="text"] {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #707070;
}
input[type="date"] {
  width: 150px;
}
input[type="radio"] {
  vertical-align: top;
  width:11px;
  height: 11px;
  color:#fff;
  display: inline-block;
  padding:0;
  border: 1px solid #000;
}
input[type="radio"]:checked {
  background:#000;
}
.w150 {
  width: 150px !important;
}
.btn-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: hidden;
  margin-top: 15px;
}
.btn-wrap a {
  float: left;
  height: 43px;
  line-height: 43px;
  color: #fff;
  background: #202020;
  font-weight: 700;
  margin-left: 10px;
  padding: 0 20px;
  text-align: center;
}
.btn-wrap a:first-child {
  margin-left: 0;
}