.builder-wrap h2 {text-align: center;margin-top:75px;margin-bottom:60px !important;}


.tbl {width:100%;margin-top:30px;}
.tbl th {background:#f8f8f8;text-align: center;}
.tbl th, .tbl td {padding:10px; border:1px solid #ddd;}
.tbl .center {text-align: center;}
.tbl .right {text-align: right;}

.tbl.type1 th{width:150px;}

.tbl.type2 th:first-child {width:85px;}

input[type="radio"] {
    vertical-align: top;
    width:11px;
    height: 11px;
    color:#fff;
    display: inline-block;
    padding:0;
        border: 1px solid #000;
}
input[type="radio"]:checked {
    background:#000;
}