html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:15px;
	vertical-align:baseline;
	font-family:'Noto Sans KR';
	font-weight:300;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	 -moz-osx-font-smoothing:grayscale;
	 box-sizing:border-box;
}
.txt_num {
	font-family:Arial,sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
body {
	line-height:1;
}
ol,ul {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
body {
	-webkit-text-size-adjust:none;
}
mark {
	background-color:transparent;
	color:inherit;
}
input::-moz-focus-inner {
	border:0;
	padding:0;
}
input,select,textarea {
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	appearance: none;
}
/* Basic */
@-ms-viewport {
	width:device-width;
}
html,body {
	box-sizing:border-box;
	height:100%;
}
*,*:before,*:after {
	box-sizing:inherit;
}
body {
	background:#fff;
}
body.is-preload *,body.is-preload *:before,body.is-preload *:after {
		-moz-animation:none !important;
	-webkit-animation:none !important;
	-ms-animation:none !important;
	animation:none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	-ms-transition:none !important;
	transition:none !important;
}
body,input,select,textarea {
	color:#fff;
}
a {
	-moz-transition:color 0.2s ease,border-bottom-color 0.2s ease;
	-webkit-transition:color 0.2s ease,border-bottom-color 0.2s ease;
	-ms-transition:color 0.2s ease,border-bottom-color 0.2s ease;
	transition:color 0.2s ease,border-bottom-color 0.2s ease;
	 border:0;
	color:inherit;
	text-decoration:none;
}
a:hover {
}
strong,b {
	color:#fff;
	font-weight:500;
}
em,i {
	font-style: normal;
}
/* List */
ol {
	list-style:decimal;
}
ol li {
	padding-left:0.25em;
}
ul {
	list-style:disc;
}
ul li {
	list-style:none;
}
ul.alt {
	list-style:none;
	padding-left:0;
}
ul.alt li:first-child {
	border-top:0;
	padding-top: 0;
}


 @font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../fonts/NanumSquareL.eot);
 src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareL.woff) format('woff'),
      url(../fonts/NanumSquareL.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../fonts/NanumSquareR.eot);
 src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../fonts/NanumSquareB.eot);
 src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareB.woff) format('woff'),
      url(../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../fonts/NanumSquareEB.eot);
 src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareEB.woff) format('woff'),
      url(../fonts/NanumSquareEB.ttf) format('truetype');
}
img {
	width: 100%;
	vertical-align: middle;
}